<h1>Checkout</h1>

<%= form_with model: @order, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :province_id, "Province" %>
    <%= f.collection_select :province_id, @provinces, :id, :name, {}, class: "form-select" %>
  </div>

  <%= f.submit "Place Order", class: "btn btn-primary" %>
<% end %>
