<%= form_with model: [:admin, @product] do |f| %>
  <% if @product.errors.any? %>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :original_price, "Original Price" %><br>
    <%= f.number_field :original_price, step: 0.01 %>
  </div>

  <div>
    <%= f.label :sale_price, "Sale Price (Optional)" %><br>
    <%= f.number_field :sale_price, step: 0.01 %>
  </div>

  <div>
    <%= f.label :on_sale, "On Sale?" %><br>
    <%= f.check_box :on_sale %>
  </div>


  <div>
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>

  <div>
    <%= f.label :category_id, "Category" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="mb-3">
  <%= form.label :image %>
  <%= form.file_field :image, class: "form-control" %>
</div>


  <%= f.submit %>
<% end %>
