<div class="container">
  <div class="row">

    <div class="col-md-6">
      <% if @product.image.attached? %>
        <%= image_tag @product.image, class: "img-fluid rounded mb-3" %>
      <% end %>
    </div>

    <div class="col-md-6">
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
      <p class="fw-bold fs-4">$<%= @product.price %></p>

      <%= form_with url: add_item_cart_path, method: :post, local: true do %>
        <%= hidden_field_tag :product_id, @product.id %>
        <%= number_field_tag :quantity, 1, min: 1, class: "form-control w-25 mb-3" %>
        <%= submit_tag "Add to Cart", class: "btn btn-success" %>
      <% end %>
    </div>

  </div>
</div>
